<!DOCTYPE html>
<html>

	<head>
		<title>DarkBarber</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		<link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
		<!-- JavaScript -->
		<script src="/scripts.js"></script>
		<!-- jQuery -->
		<script src="/vendor/jquery-3.6.0.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="/vendor/bootstrap/js/bootstrap.js"></script>
		<script src="/vendor/jquery.simplecolorpicker.js"></script>
		<link rel="stylesheet" href="/vendor/jquery.simplecolorpicker.css">
	</head>

	<body>

		<div class="container">
			<nav class="navbar navbar-default" role="navigation">
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="/">DarkBarber</a>
			  </div>

			  <div class="navbar-collapse collapse">
			    <ul class="nav navbar-nav">
			      <li><a href="/about">О нас</a></li>
			      <li><a href="/visit">Записаться</a></li>
			      <li><a href="/contacts">Контакты</a></li>
						<li><a href="/show_users">Список записавшихся</a></li>
						<li><a href="/show_contacts">Список обращений</a></li>
			    </ul>
			  </div>
			</nav>

			<div>
						<%if @error && @error.length > 0 then %>
								<div class="alert alert-danger"><%=@error%></div>
						<% end %>
						<%= yield %>
			</div>

		</div>

 </body>

</html>
