<form action='/login/attempt' method='post' class="form-inline well">
  <input type="text" name='login' placeholder="Username" autofocus><br><br>
  <input type="password" name='password' placeholder="Password" autofocus><br><br>
  <input class="btn btn-primary" type='submit' value='Log in'>
</form>